.att-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12px 0;
}

.att-icon > img {
    width: 5vw;
    background-color: var(--cor-principal-1);
    border-radius: 50%;
    padding: 1%;
    box-shadow: 1px 1px 2px var(--cor-principal-6);
    padding:5%;
}

.att-icon > p {
    color: var(--cor-variavel-3);
    width: 100%;
    margin: 4px 0 0 0;
    font-family: 'montserrat';
}

@media screen and (max-width:1000px){
    .att-icon > img {
        width: 10vw;
    }
}

@media screen and (max-width:650px){
    .att-icon > img {
        width: 15vw;
    }
    .att-icon > p {
       font-size: 0.9rem;
       height: 15vh;
    }
}
