.linkButton{
    color: var(--cor-branca-1);
    padding: 8px;
    margin: 1%;
    flex-wrap: wrap;
    background-color: var(--cor-variavel-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 10vw;
    height: 6vh;
    font-family: montserrat;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
}

.contactButton{
    border: none;
    cursor: pointer;
    background-color: var(--cor-variavel-4);
    color: var(--cor-branca-1);
    padding: 3%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height:7vh;
    font-family:montserrat;
    font-size: 1.5rem;
    box-shadow:0px 0px 5px  var(--cor-variavel-2);
    min-width: fit-content;
    min-height: fit-content;
}

@media screen and (max-width:1000px) {
    .contactButton,
    .linkButton{
        height: 5vh;
        width: 20vw;
    }
}

@media screen and (max-width:650px) {
    .linkButton{
        height: 10vh;
        width: 25vw;
        min-width: 45vw;
    }

    .contactButton{
        width: 40vw;
        height: 10vh;
    }
}