.linkButton {
  color: var(--cor-branca-1);
  padding: 8px;
  margin: 1%;
  flex-wrap: wrap;
  background-color: var(--cor-variavel-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 10vw;
  height: 6vh;
  font-family: montserrat;
  text-align: center;
  min-width: fit-content;
  min-height: fit-content;
}

.contactButton {
  border: none;
  cursor: pointer;
  background-color: var(--cor-variavel-4);
  color: var(--cor-branca-1);
  padding: 3%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 7vh;
  font-family: montserrat;
  font-size: 1.5rem;
  box-shadow: 0px 1px 5px var(--cor-variavel-3);
  min-width: fit-content;
  min-height: fit-content;
}

.arrow-up {
  color: var(--cor-preto-3);
  filter: drop-shadow(1px 2px 1px var(--cor-preto-1));
  animation: jump 5s infinite;
}

.whats-up{
    color: #25D366;
    animation: jump-fast 3s infinite;
}

.super-prof{
    animation: jump-slow 5s infinite;
}

.phone-up{
    color: var(--cor-variavel-2);
    animation: jump 5s infinite;
    filter: drop-shadow(1px 2px 1px var(--cor-preto-1));
}

@keyframes jump {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    animation-duration: 0.3s;
    transform: translateY(-7px);
  }
  80% {
    animation-duration: 0.2s;
    transform: translateY(-4px);
  }
}

@keyframes jump-fast {
    0%, 50%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    75% {
      transform: translateY(-5px);
    }
  }

  @keyframes jump-slow {
    0%, 30%, 70%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

@media screen and (max-width: 1000px) {
  .contactButton,
  .linkButton {
    height: 5vh;
    width: 20vw;
  }
  .tooltip{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  .linkButton {
    width: 20vw;
    min-width: 45vw;
    height: 7vh;
  }

  .contactButton {
    width: 40vw;
    height: 10vh;
  }
}
