.about__work-title{
    font-size: 2rem;
    background: linear-gradient(120deg,var(--cor-complementar-3), var(--cor-complementar-4));
    border-radius: 0px 0 0 25px;
}

.aboutWork-content{
    background: linear-gradient(to bottom, #FCF7F1 75%, var(--cor-branca-1));
    padding: 2.5% 10%;
}

.aboutWork-content > h2{
    color: var(--cor-complementar-1);
    font-family: 'montserrat';
    font-size: 1.5rem;
}

.aboutWork-content > h2:first-child{
    margin-top: 5%;
}


.aboutWork-content > p {
    color: var(--cor-principal-6);
    margin: 5% 0 5% 0;
    font-family: 'roboto';
    font-size: 1.2rem;
}

.icon__container{
    margin: 5% 0 5% 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 3fr);
    grid-auto-flow: row;
}


@media (max-width:912px) and (max-height:1368px){
     .about__work-title{
        border-radius: 0;
        
    }
    .aboutWork-content > h2,
    .aboutWork-content > p{
        text-align: left;
        width: 80vw;
    }
}


@media (max-width:1368px) and (max-height:912px){
    .about__work-title{
       border-radius: 0;
   }
}

@media(max-width:900px){
    .about__work-title{
        border-radius: 0;
      
    }
}

@media (max-width:400px) and (max-height:1560px){
    .icon__container{
        margin: 0;
        padding: 0;
    }  
    .about__work-title{
        font-size: 1rem;
    }
}

/*iphone 4*/
@media (max-width:480px) and (max-height:320px){
    .icon__container{
        height: 70vh;
    }
}

@media (max-width:600px) and (max-height:300px){
   .icon__container{
    height: 90vh;
   }
}


