.about__work-title{
    font-size: 2rem;
    background: linear-gradient(120deg,var(--cor-complementar-3) 5%, var(--cor-complementar-4));
}

.aboutWork-content{
    background: #FCF7F1;
    padding: 2.5% 10%;
}

.aboutWork-content > h2{
    color: var(--cor-complementar-1);
    font-family: 'montserrat';
    font-size: 1.5rem;
}

.aboutWork-content > h2:first-child{
    margin-top: 2.5%;
}


.aboutWork-content > p {
    color: var(--cor-variavel-2);
    margin: 5% 0 5% 0;
    font-family: 'roboto';
    font-size: 1.2rem;
}

.icon__container{
    margin: 5% 0 5% 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 3fr);
    grid-auto-flow: row;
    gap: 20px;
}

@media screen and (max-width:650px) {
    .icon__container{
        height: 60vh;
        gap: 20px;
    }
}
