.education__title-container{
    font-size: 1.3rem;
    background: linear-gradient(120deg,var(--cor-destaque-4), var(--cor-destaque-5));
}

.education__content{
    background: linear-gradient(180deg,var(--cor-principal-1), var(--cor-principal-2));
}

@media (max-width:1000px){
    .education__title-container{
        min-width:25vw ;
    }
}

@media (max-width: 900px){
    .education__container{
        width: 100vw;
        flex-direction: column;
    }
    .education__title-container{
        width: 100%;
        border-radius: 0;
    }
}


@media (max-width:1024px) and (max-height:600px){
    .education__title-container > h1{
        font-size: 1.5rem;
    }
}


