.education__title-container{
    font-size: 1.3rem;
    background: #772d2b;
    box-shadow: 1px 3px 2px #551917;
}

.education__content{
    background: linear-gradient(180deg,var(--cor-principal-1), var(--cor-principal-2));
}

@media screen and (max-width:1000px) {
    .education__title-container{
        background: #772d2b;
        box-shadow:none
    }
}
