.education__title-container{
    font-size: 1.3rem;
    background: linear-gradient(120deg,var(--cor-destaque-4), var(--cor-destaque-5));
}

.education__content{
    background: linear-gradient(180deg,var(--cor-principal-1), var(--cor-principal-2));
}

