.experience__title-container{
    font-size: 1.3rem;
    background: #30323D;
}

.experience__content{
    background: linear-gradient(180deg,var( --cor-alternativa-1), var(--cor-alternativa-2));
  
}

.experience__dropdown{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.experience__dropdown:last-child{
    margin-bottom: 5%;
}

.dropdown-title {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: linear-gradient(to bottom,var( --cor-dropdown-1), var(--cor-dropdown-2));
    color: var(--cor-branca-1);
    padding: 1%;
    font-family: montserrat;
    font-size: 1.4rem;
    height: 9vh;
    user-select: none;
    width: 50vw;
    box-shadow: 0 3px 1px var(--cor-preto-6);
    border-radius: 5px;
}

.dropdown-title:not(first-child){
    margin-top: 5%;
}

.experience__dropdown-info{
    padding: 2%;
    background-color: var(--cor-branca-1);
    color: var(--cor-variavel-4);
    animation: animeDown .3s forwards;
    transition: .3s;
    font-family: montserrat;
    font-size: 1.3rem;
    width: 50vw;
    color: var(--cor-variavel-2);
    border-radius: 0 0 5px 5px;
    height: 15vh;
    min-height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 1px var(--cor-preto-6);
    user-select: none;
}

.experience__dropdown-info.close-element{
    animation: animeUp 0.15s forwards;
    height: 0;
    pointer-events: none;
}

@keyframes animeUp {
    0% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: -1px;
    }
}

@keyframes animeDown {
    0%{
        opacity: 0;
        margin-top: -3px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

@media screen and (max-width:1000px) {
    .dropdown-title,
    .experience__dropdown-info{
        width: 95vw;
    }
    .experience__dropdown-info{
        font-size: 1rem;
    }
    .experience__title-container{
        background:#30323D;
        box-shadow: none;
    }
}

@media screen and (max-width:650px) {
    .dropdown-title{
        font-size: 0.9rem;
    }
    .experience__dropdown-info{
        font-size: 0.8rem;
    }
    .arrow-icon{
        min-width: 10vw;
        width: 10vw;
    }
}