.intro__section{
    display: flex;
    width: 1000px;
    height: 90vh;
    background-color: var(--cor-alternativa-2);
    align-items: center;
    padding: 1%;
    margin-bottom: 1px;
    border-radius: 4px;
    box-shadow: 2px 3px 1px var(--cor-branca-3);
}

.intro__section-emphashis{
    color:#003F63 ;
    font-weight: bold;
}

.intro__section-img-container > img{
    max-width: 50vw;
    max-height: 70vh;
    margin: 10% 5% 5% -20%;
    clip-path: polygon(5% -0%, 100% 20%, 100% 100%, 0% 70%);
}

.intro__section-text-container{
    display: flex;
    flex-direction: column;
}

.intro__section-title{
    font-family: montserrat, Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: var(--cor-variavel-2);
    letter-spacing: -4px;
    z-index: 5;
    position: relative;
    
}

.intro__section-text{
    font-size: 1.2rem;
    font-family: roboto, sans-serif;
    color: var(--cor-variavel-2);
    margin: 5% 5% 10% 0;
}

.img__group-device{
    display: none;
}

@media screen and (max-width:1200px){
    .intro__section{
       height: auto;
    }
}

@media  screen and (max-width:1000px){
    .intro__section {
        width: 100vw;
        height: max-content;
        padding: 5%;
        
    }
    .intro__section-img-container > img{
        display: none;
    }
    .img__group-device{
        display: block;
        width: 90vw;
        border-radius:12px ;
        margin: 5% 0;
        border: 1px solid var(--cor-alternativa-2);
        box-shadow: 0px 3px 5px var(--cor-branca-6) ;
    }

    .intro__section-title{
        font-size: 7rem;
    }

    .intro__section-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:600px){
    .intro__section{
        height: fit-content;
    }

    .intro__section-img-container > img{
        display: none;
    }

    .intro__section-title{
        font-size: 3rem;
    }
}