.header__container{
    width: 1000px;
    min-height: fit-content;
    background-color: var(--cor-principal-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
    min-height: 10vh;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 3px 1px var(--cor-branca-3);
}

.header__container > h1{
    font-family:satisfy ;
    font-size: 2.2rem;
    color: var(--cor-variavel-4);
}

.header__links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1000px){
    .header__container{
        width: 100vw;
    }
}

@media screen and (max-width:650px){
    .header__container{
        width: 100vw;
        min-height: max-content;
    }

    .header__container > h1 {
        margin: 4px 0;
        font-size: 2rem;
    }
    
    .header__links-container{
        flex-wrap: wrap;
        padding-bottom: 12px;
    }
}