.timeline--element{
    color: var(--cor-variavel-3);
    font-family: 'montserrat';
}

.timeline-title{
    font-family: montserrat;
}

.timeline-date{
    color: var(--cor-variavel-5);
    font-family: 'montserrat';
    font-weight: normal;
}

.timeline-local{
    font-family: 'montserrat';
}

.timeline-link{
    color: inherit;
}